<% if pending? current_user, @memory %>
<%= render partial: 'comments/pending', memory: @memory %>
<% end %>

<% if policy(Comment).new? %>
  <h2>Add a comment:</h2>
  <%= form_for([@memory, @memory.comments.build]) do |f| %>
    <p>
      <%= f.label :body %> <br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% end %>

<h2> Comments</h2>
<% @memory.comments.approved_comment.each do |comment| %>
  <p>
    <strong>Comment</strong>
    <%= comment.body %>
    <%= comment.approved %>
  </p>
<% end %>
