<%= form_for @memory do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@memory.errors.count, "error") %> prohibited
        this memory from being saved:
      </h2>
      <ul>
        <% @memory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :tag_list, 'Tag List (Separate Tags with Commas)' %><br>
    <%= f.text_area :tag_list%>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
