<h1>Related Memories</h1>
<div class="small-12 medium-12 large-12 columns panel radius">
  <div class="related-memories">
    <% @related_memories = related_memories_to_user current_user %>
    <% if @related_memories.size > 0 %>
      <% @related_memories.each do |memory| %>
        <%= memory.name %>
        <%= memory.tag_list %>
      <% end %>
    <% else %>
      <strong> No Related Memories
    <% end %>
  </div>
</div>

<h1>Recent Memories</h1>
<div class="small-12 medium-12 large-12 columns panel panel-primary radius">
  <div class="recent-memories">
    <% @recent_memories = most_recent_memories current_user %>
    <% if @recent_memories.size > 0 %>
      <% @recent_memories.each do |memory| %>
        <%= memory.name %>
        <%= memory.tag_list %>
      <% end %>
    <% else %>
      <strong> No Recent Memories
    <% end %>
  </div>
</div>

<h1>Memories</h1>
<table id="list">
  <thead>
    <tr>
      <th>Memory</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @memories.each do |memory| %>
    <tr id="<%= dom_id(memory) %>">
      <td class="name"><%= memory.name %></td>
      <td class="description"><%= memory.description %></td>
      <td><%= link_to 'Show', memory_path(memory) %></td>

      <% if policy(memory).edit? %>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
      <% end %>
      <% if policy(memory).destroy? %>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
 <% if user_signed_in? %>
<%= link_to 'New Memory', new_memory_path, id: "new_link" %>
<% end %>
